<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__social">
                <a href="" class="footer__social-link">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.9998 9.26038C11.3822 9.26038 9.26026 11.3824 9.26026 14C9.26026 16.6176 11.3822 18.7395 13.9998 18.7395C16.6174 18.7395 18.7394 16.6176 18.7394 14C18.7394 11.3824 16.6174 9.26038 13.9998 9.26038Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.37208 0.993773C11.4006 0.431763 16.5991 0.431763 21.6276 0.993773C24.3961 1.30319 26.6291 3.48454 26.9541 6.26274C27.5553 11.4034 27.5553 16.5966 26.9541 21.7372C26.6291 24.5154 24.3961 26.6967 21.6276 27.0062C16.5991 27.5682 11.4006 27.5682 6.37208 27.0062C3.60359 26.6967 1.3706 24.5154 1.04566 21.7372C0.444416 16.5966 0.444416 11.4034 1.04566 6.26274C1.3706 3.48454 3.60359 1.30319 6.37208 0.993773ZM21.2915 5.24997C20.4861 5.24997 19.8332 5.90288 19.8332 6.7083C19.8332 7.51371 20.4861 8.16663 21.2915 8.16663C22.0969 8.16663 22.7498 7.51371 22.7498 6.7083C22.7498 5.90288 22.0969 5.24997 21.2915 5.24997ZM7.07276 14C7.07276 10.1742 10.1741 7.07288 13.9998 7.07288C17.8256 7.07288 20.9269 10.1742 20.9269 14C20.9269 17.8257 17.8256 20.927 13.9998 20.927C10.1741 20.927 7.07276 17.8257 7.07276 14Z" fill="white"/>
                    </svg>                        
                </a>
                <a href="" class="footer__social-link">
                    <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.2591 0.692383C9.44185 0.692383 7.69906 1.40299 6.41409 2.66789C5.12912 3.93278 4.40723 5.64834 4.40723 7.43717V11.1924H0.74056C0.556465 11.1924 0.407227 11.3393 0.407227 11.5205V16.4788C0.407227 16.6601 0.556465 16.807 0.74056 16.807H4.40723V26.9788C4.40723 27.1601 4.55646 27.307 4.74056 27.307H9.7776C9.96169 27.307 10.1109 27.1601 10.1109 26.9788V16.807H13.8101C13.963 16.807 14.0964 16.7045 14.1335 16.5584L15.3927 11.6001C15.4453 11.393 15.2862 11.1924 15.0693 11.1924H10.1109V7.43717C10.1109 7.13742 10.2319 6.84995 10.4472 6.638C10.6625 6.42604 10.9546 6.30697 11.2591 6.30697H15.1109C15.295 6.30697 15.4443 6.16006 15.4443 5.97884V1.02051C15.4443 0.83929 15.295 0.692383 15.1109 0.692383H11.2591Z" fill="white"/>
                    </svg>                                               
                </a>
                <a href="" class="footer__social-link">
                    <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.63078 0.974265C12.5362 0.606234 17.464 0.606235 22.3694 0.974265L25.6646 1.22149C27.5 1.35919 29.0015 2.67833 29.3049 4.41968C30.064 8.77666 30.064 13.2242 29.3049 17.5812C29.0015 19.3226 27.5 20.6417 25.6646 20.7794L22.3694 21.0266C17.464 21.3947 12.5362 21.3947 7.63077 21.0266L4.33563 20.7794C2.50022 20.6417 0.998721 19.3226 0.695322 17.5812C-0.0638053 13.2242 -0.0638053 8.77666 0.695322 4.41968C0.998721 2.67833 2.50022 1.35919 4.33563 1.22149L7.63078 0.974265ZM12.0589 14.484V7.51692C12.0589 7.18807 12.433 6.98494 12.727 7.15414L18.7813 10.6377C19.0669 10.802 19.0669 11.1989 18.7813 11.3632L12.727 14.8468C12.433 15.016 12.0589 14.8128 12.0589 14.484Z" fill="white"/>
                    </svg>                                             
                </a>
                <a href="" class="footer__social-link">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4161 24.2529L25.4171 24.2505L25.4427 24.1876L29.8527 2.34899V2.27806C29.8527 1.73393 29.648 1.25891 29.2026 0.973984C28.8127 0.724584 28.3645 0.706822 28.0503 0.730252C27.7179 0.755031 27.4045 0.83652 27.1875 0.904351C27.0759 0.939249 26.9825 0.972874 26.9157 0.998305C26.8821 1.01107 26.855 1.0219 26.8352 1.02997L26.8158 1.038L2.22781 10.512L2.22104 10.5144C2.20776 10.5191 2.1902 10.5256 2.16899 10.5337C2.1267 10.5499 2.06915 10.573 2.00153 10.6031C1.86876 10.6622 1.68533 10.7534 1.49929 10.8785C1.18333 11.0911 0.581695 11.5942 0.683287 12.3918C0.767435 13.0525 1.23112 13.4722 1.54372 13.6894C1.71129 13.8059 1.8716 13.8898 1.989 13.9447C2.04848 13.9726 2.099 13.9939 2.13663 14.0089C2.1555 14.0165 2.17127 14.0225 2.18348 14.027L2.1991 14.0328L2.20909 14.0364L6.51092 15.4589C6.4964 15.724 6.52317 15.9943 6.59474 16.261L8.74957 24.2898C9.00507 25.2418 9.88187 25.9049 10.8842 25.9042C11.7826 25.9036 12.5794 25.3697 12.9179 24.5732L16.2822 21.04L22.0601 25.391L22.1422 25.4262C22.6672 25.6512 23.1576 25.7225 23.606 25.6623C24.0538 25.6022 24.4097 25.4178 24.677 25.2078C24.94 25.0011 25.1203 24.7678 25.2336 24.5921C25.2912 24.5029 25.3342 24.4245 25.3639 24.3655C25.3789 24.3358 25.3907 24.3107 25.3995 24.2912L25.4106 24.266L25.4145 24.2567L25.4161 24.2529ZM8.72768 15.7087C8.67871 15.5262 8.75559 15.3336 8.91778 15.2324L23.509 6.13111C23.509 6.13111 24.3672 5.61935 24.3365 6.13111C24.3365 6.13111 24.4897 6.22149 24.0298 6.64287C23.5936 7.04309 13.6303 16.4913 12.6221 17.4473C12.5639 17.5025 12.5292 17.5658 12.5087 17.6427L10.8825 23.7375L8.72768 15.7087Z" fill="white"/>
                    </svg>                                               
                </a>
                <a href="" class="footer__social-link">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24H7.94979V15.6313H10.3761C14.0823 15.6313 14.6204 16.6656 14.6204 19.8C14.6204 21.9314 14.8234 23.4659 15.0232 23.9992H23.0769V23.2662C22.4365 23.2662 22.2343 22.5992 22.2343 19.0661C22.2343 14.2337 20.6844 13.6328 18.1253 12.7C20.9535 11.9348 22.2343 9.59871 22.2343 6.83252C22.2343 2.16688 19.5398 0 11.4547 0H0V2.14258H0.80065C1.09064 2.14258 1.32102 2.28355 1.32102 2.5824C1.32102 2.7572 1.24208 2.88447 1.08339 2.95536C1.18086 2.98597 1.25014 3.05202 1.27752 3.1511C1.30169 3.23246 1.30572 3.25018 1.32505 3.47331L1.32763 3.50062C1.33303 3.56033 1.33787 3.6139 1.37499 3.66503H0.967394C0.93821 3.59654 0.932806 3.50999 0.927739 3.42883L0.927739 3.42882C0.925953 3.40022 0.924208 3.37228 0.921479 3.34604C0.902147 3.1656 0.833676 3.09794 0.647598 3.09794H0.401106V3.66503H0V10.9493L0.42209 9.83293H0.828884L1.40323 11.3562H0.988379L0.889298 11.0791H0.356843L0.255346 11.3562H0V24ZM0.926313 2.62751C0.926313 2.787 0.815955 2.816 0.683847 2.816H0.401106V2.45029H0.679819C0.845758 2.45029 0.926313 2.50668 0.926313 2.62751ZM2.79434 2.46237H1.96223V2.72498H2.72265V3.03349H1.96223V3.32993H2.81367V3.66503H1.56268V2.14258H2.79434V2.46237ZM3.48711 3.09904L3.66433 2.56658L3.83671 3.09904H3.48711ZM4.02762 3.66371H4.44247L3.86732 2.13965H3.46133L2.88538 3.66371H3.29539L3.39769 3.3858H3.92854L4.02762 3.66371ZM5.68386 3.66406H4.56256V2.1416H4.96694V3.32251H5.68386V3.66406ZM0.402777 5.02666H1.23489V4.70605H0.00323486V6.22851H1.25503V5.89341H0.402777V5.59697H1.16401V5.28926H0.402777V5.02666ZM2.28691 5.16384C2.27804 5.0422 2.19185 4.97856 2.03639 4.97856C1.91072 4.97856 1.83259 5.0269 1.83259 5.10826C1.83259 5.1735 1.86078 5.20009 1.95019 5.22345L2.00898 5.23876C2.17446 5.28174 2.35202 5.32786 2.49232 5.39261C2.64778 5.46591 2.73156 5.59319 2.73156 5.76235C2.73156 6.06845 2.4754 6.26258 2.07183 6.26258C1.6449 6.26258 1.39116 6.06201 1.38552 5.71804H1.78909C1.78909 5.89687 1.91072 5.9589 2.09761 5.9589C2.24663 5.9589 2.32718 5.90412 2.32718 5.80585C2.32718 5.72449 2.27724 5.6834 2.12338 5.64313C2.01625 5.61332 1.84306 5.55935 1.74398 5.52391C1.53857 5.45061 1.44352 5.33139 1.44352 5.14451C1.44352 4.85612 1.68437 4.67488 2.06377 4.67488C2.44882 4.67488 2.66228 4.84807 2.66873 5.16384H2.28691ZM3.68858 5.04357H4.14451V4.70605H2.82666V5.04357H3.28259V6.2277H3.68858V5.04357ZM4.74617 5.13184L4.56896 5.66429H4.91856L4.74617 5.13184ZM5.52432 6.22817H5.10947L5.01039 5.95026H4.47954L4.37724 6.22817H3.96722L4.54318 4.7041H4.94997L5.52432 6.22817ZM6.21061 5.04357H6.66654V4.70605H5.34869V5.04357H5.80462V6.2277H6.21061V5.04357ZM8.07706 5.02666H7.24494V5.28926H8.00537V5.59697H7.24494V5.89341H8.09719V6.22851H6.8454V4.70605H8.07706V5.02666ZM0.89818 7.78864C0.89818 7.96505 0.7701 7.97632 0.631548 7.97632H0.405194V7.59531H0.664575C0.804738 7.59531 0.89818 7.64042 0.89818 7.78864ZM0.67988 7.27148H0.00323486V8.79394H0.405194V8.28484H0.744324C1.06493 8.28484 1.28645 8.12696 1.28645 7.78461C1.28645 7.40843 1.0319 7.27148 0.67988 7.27148ZM2.16285 7.94491C2.29496 7.94491 2.40532 7.91671 2.40532 7.75641C2.40532 7.6372 2.32476 7.5792 2.15882 7.5792H1.88011V7.94491H2.16285ZM1.47815 7.27148H2.27965C2.56964 7.27148 2.80003 7.41245 2.80003 7.71211C2.80003 7.88691 2.72108 8.01257 2.5624 8.08427C2.65986 8.11649 2.72914 8.18174 2.75653 8.28082C2.78069 8.36217 2.78472 8.37828 2.80486 8.60303L2.80647 8.62454C2.81095 8.68658 2.81495 8.74188 2.854 8.79394H2.4464C2.4168 8.72447 2.41166 8.63643 2.40687 8.55428L2.40687 8.55427C2.40527 8.52687 2.40371 8.50013 2.40129 8.47495C2.38115 8.29612 2.31187 8.22765 2.1266 8.22765H1.88011V8.79394H1.47815V7.27148ZM3.3944 8.02782C3.3944 7.73944 3.53054 7.5582 3.74723 7.5582C3.9623 7.5582 4.09441 7.733 4.09441 8.02138C4.09441 8.32506 3.96633 8.50228 3.74884 8.50228C3.52651 8.50228 3.3944 8.32587 3.3944 8.02782ZM2.98358 8.03185C2.98358 8.49584 3.28002 8.82933 3.75528 8.82933C4.22168 8.82933 4.50442 8.48134 4.50523 8.03346C4.50523 7.54451 4.2096 7.23438 3.75125 7.23438C3.28888 7.23438 2.98358 7.58075 2.98358 8.03185ZM5.85706 7.60141H5.12403V7.89382H5.7596V8.20636H5.12403V8.79198H4.72046V7.26953H5.85706V7.60141ZM6.44185 7.59209H7.27316V7.27148H6.0415V8.79313H7.2933V8.45884H6.44185V8.1624H7.20227V7.85469H6.44185V7.59209ZM8.32522 7.72741C8.31636 7.60577 8.23016 7.54214 8.0747 7.54214C7.94903 7.54214 7.8709 7.59047 7.8709 7.67183C7.8709 7.73708 7.89909 7.76366 7.98851 7.78702L8.04531 7.80183C8.21122 7.84495 8.38906 7.89117 8.53063 7.95618C8.6861 8.02948 8.76987 8.15676 8.76987 8.32592C8.76987 8.63202 8.51371 8.82615 8.11014 8.82615C7.68321 8.82615 7.42947 8.62558 7.42383 8.28162H7.8274C7.8274 8.46044 7.94903 8.52247 8.13592 8.52247C8.28494 8.52247 8.36549 8.46769 8.36549 8.36942C8.36549 8.28806 8.31555 8.24698 8.1617 8.2067C8.05456 8.1769 7.88137 8.12293 7.78229 8.08748C7.57688 8.01498 7.48183 7.89496 7.48183 7.70969C7.48183 7.4205 7.72268 7.23926 8.10209 7.23926C8.48713 7.23926 8.70059 7.41245 8.70704 7.72822H8.32522V7.72741ZM9.51493 7.54214C9.6704 7.54214 9.7574 7.60577 9.76545 7.72741V7.72822H10.1481C10.1416 7.41245 9.92817 7.23926 9.54313 7.23926C9.16372 7.23926 8.92287 7.4205 8.92287 7.70969C8.92287 7.89496 9.01792 8.01498 9.22333 8.08748C9.32241 8.12293 9.49641 8.1769 9.60435 8.2067C9.7574 8.24698 9.80654 8.28806 9.80654 8.36942C9.80654 8.46769 9.72598 8.52247 9.57777 8.52247C9.39008 8.52247 9.26844 8.46044 9.26844 8.28162H8.86487C8.87131 8.62558 9.12425 8.82615 9.55199 8.82615C9.95395 8.82615 10.2101 8.63202 10.2101 8.32592C10.2101 8.15676 10.1263 8.02948 9.97086 7.95618C9.82929 7.89117 9.65145 7.84495 9.48554 7.80183L9.42874 7.78702C9.33933 7.76366 9.31113 7.73708 9.31113 7.67183C9.31113 7.59047 9.38927 7.54214 9.51493 7.54214ZM10.8062 7.27148H10.4026V8.79394H10.8062V7.27148ZM11.4346 8.02782C11.4346 7.73944 11.5707 7.5582 11.7866 7.5582C12.0033 7.5582 12.1346 7.733 12.1338 8.02138C12.1338 8.32506 12.0065 8.50228 11.7882 8.50228C11.5659 8.50228 11.4346 8.32587 11.4346 8.02782ZM11.0245 8.03185C11.0245 8.49584 11.321 8.82933 11.7962 8.82933C12.2626 8.82933 12.5454 8.48134 12.5462 8.03346C12.5462 7.54451 12.2506 7.23438 11.7922 7.23438C11.329 7.23438 11.0245 7.58075 11.0245 8.03185ZM12.7613 7.27148H13.1633L13.7183 8.23329L13.7013 7.27148H14.0904V8.79313H13.6989L13.1367 7.81683L13.1479 8.79313H12.7613V7.27148ZM14.8089 8.22811L14.9861 7.69646L15.1593 8.22811H14.8089ZM15.3486 8.79279H15.7635L15.1891 7.26953H14.7823L14.2064 8.79279H14.6164L14.7187 8.51488H15.2495L15.3486 8.79279ZM17.0056 8.79198H15.8843V7.26953H16.2878V8.44963H17.0056V8.79198ZM17.7571 7.54214C17.9126 7.54214 17.9996 7.60577 18.0076 7.72741V7.72822H18.3903C18.3838 7.41245 18.1704 7.23926 17.7853 7.23926C17.4059 7.23926 17.1651 7.4205 17.1651 7.70969C17.1651 7.89496 17.2601 8.01498 17.4655 8.08748C17.5646 8.12293 17.7386 8.1769 17.8465 8.2067C17.9996 8.24698 18.0487 8.28806 18.0487 8.36942C18.0487 8.46769 17.9682 8.52247 17.82 8.52247C17.6323 8.52247 17.5106 8.46044 17.5106 8.28162H17.1071C17.1135 8.62558 17.3664 8.82615 17.7942 8.82615C18.1961 8.82615 18.4523 8.63202 18.4523 8.32592C18.4523 8.15676 18.3685 8.02948 18.2131 7.95618C18.0715 7.89117 17.8936 7.84495 17.7277 7.80183L17.6709 7.78702C17.5815 7.76366 17.5533 7.73708 17.5533 7.67183C17.5533 7.59047 17.6315 7.54214 17.7571 7.54214ZM19.0242 7.57563C19.0242 7.85354 18.9098 8.00498 18.6335 8.03076V7.85757C18.7399 7.83582 18.7979 7.76815 18.8043 7.65377H18.6335V7.26953H19.0242V7.57563ZM0.448673 10.7923L0.62589 10.2607L0.798274 10.7923H0.448673ZM2.32716 10.2925C2.3191 10.1701 2.23211 10.1064 2.07664 10.1064C1.95098 10.1064 1.87284 10.1556 1.87284 10.2369C1.87284 10.3006 1.90103 10.3287 1.99045 10.3521L2.05632 10.3692C2.21977 10.4116 2.39428 10.4567 2.53257 10.5213C2.68804 10.5938 2.77181 10.7218 2.77181 10.891C2.77181 11.1971 2.51565 11.3904 2.11369 11.3904C1.68596 11.3904 1.43302 11.1899 1.42657 10.8459H1.83015C1.83015 11.0263 1.95178 11.0876 2.13947 11.0876C2.28769 11.0876 2.36824 11.032 2.36824 10.9329C2.36824 10.8523 2.3191 10.8113 2.16605 10.7702C2.05811 10.7404 1.88412 10.688 1.78504 10.6518C1.57963 10.5785 1.48538 10.4584 1.48538 10.2724C1.48538 9.98398 1.72462 9.80273 2.10483 9.80273C2.48988 9.80273 2.70334 9.97592 2.70979 10.2917H2.32716V10.2925ZM3.5178 10.1064C3.67327 10.1064 3.76027 10.1701 3.76832 10.2925V10.2917H4.15095C4.1445 9.97592 3.93104 9.80273 3.54599 9.80273C3.16498 9.80273 2.92573 9.98398 2.92573 10.2724C2.92573 10.4584 3.02079 10.5785 3.2262 10.6518C3.32528 10.688 3.49927 10.7404 3.60721 10.7702C3.76027 10.8113 3.8094 10.8523 3.8094 10.9329C3.8094 11.032 3.72885 11.0876 3.58063 11.0876C3.39294 11.0876 3.27131 11.0263 3.27131 10.8459H2.86774C2.87418 11.1899 3.12712 11.3904 3.55485 11.3904C3.95681 11.3904 4.21297 11.1971 4.21297 10.891C4.21297 10.7218 4.1292 10.5938 3.97373 10.5213C3.83544 10.4567 3.66093 10.4116 3.49749 10.3692L3.43161 10.3521C3.34219 10.3287 3.314 10.3006 3.314 10.2369C3.314 10.1556 3.39214 10.1064 3.5178 10.1064ZM5.10946 10.1218C4.89277 10.1218 4.75663 10.3031 4.75663 10.5915C4.75663 10.8895 4.88874 11.0659 5.11107 11.0659C5.32856 11.0659 5.45664 10.8887 5.45664 10.585C5.45745 10.2975 5.32534 10.1218 5.10946 10.1218ZM5.11751 11.393C4.64225 11.393 4.34662 11.0595 4.34662 10.5971C4.34662 10.1452 4.65111 9.79883 5.11349 9.79883C5.57183 9.79883 5.86746 10.109 5.86746 10.5979C5.86746 11.045 5.58472 11.393 5.11751 11.393ZM7.44237 11.0329C7.49634 10.9258 7.50923 10.8807 7.51326 10.7631H7.11371C7.08552 10.958 6.98241 11.0555 6.8052 11.0555C6.5869 11.0555 6.44432 10.8758 6.44432 10.6011C6.44432 10.316 6.58448 10.1323 6.8052 10.1323C6.97114 10.1323 7.07424 10.2137 7.10969 10.3716H7.5044C7.47701 10.0099 7.15721 9.79883 6.81325 9.79883C6.35571 9.79883 6.03833 10.1235 6.03833 10.5923C6.03833 11.0514 6.32993 11.3938 6.80681 11.3938C7.1113 11.3938 7.32074 11.2762 7.44237 11.0329ZM8.12788 9.83496H7.7243V11.3566H8.12788V9.83496ZM8.8504 10.7923L9.02762 10.2607L9.2 10.7923H8.8504ZM9.3901 11.3562H9.80495L9.23061 9.83293H8.82381L8.24786 11.3562H8.65707L8.75856 11.0791H9.29102L9.3901 11.3562ZM10.9472 10.1733H10.4913V11.3566H10.0853V10.1733H9.62933V9.83496H10.9472V10.1733ZM11.126 9.83496H11.5295V11.3566H11.126V9.83496ZM12.5107 10.1218C12.2948 10.1218 12.1587 10.3031 12.1587 10.5915C12.1587 10.8895 12.29 11.0659 12.5123 11.0659C12.7306 11.0659 12.8579 10.8887 12.8579 10.585C12.8579 10.2975 12.7266 10.1218 12.5107 10.1218ZM12.5196 11.393C12.0443 11.393 11.7479 11.0595 11.7479 10.5971C11.7479 10.1452 12.0524 9.79883 12.5155 9.79883C12.9739 9.79883 13.2695 10.109 13.2695 10.5979C13.2695 11.045 12.9868 11.393 12.5196 11.393ZM13.8866 9.83594H13.4846V11.3568H13.8713L13.8608 10.3805L14.4231 11.3568H14.8137V9.83594H14.4247L14.4416 10.7977L13.8866 9.83594Z" fill="white"/>
                    </svg>                                               
                </a>
            </div>
            <a href="" class="footer__rules">
                Пользовательское соглашение
            </a>
        </div>
    </div>
</footer>

<div class="modal modal-reg">
    <button class="popup-close">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00003 6.94259L11.0574 12L12 11.0574L6.94259 6.00003L11.9995 0.943083L11.057 0.000522574L6.00003 5.05747L0.942561 0L0 0.942561L5.05747 6.00003L0.000603372 11.0569L0.943164 11.9995L6.00003 6.94259Z" fill="#969696"/>
        </svg>            
    </button>
    <h3 class="modal-reg__title">
        Регистрация
    </h3>
    <div class="modal-reg__subtitle">
        Все поля обязательны для заполнения
    </div>
    <form action="" class="modal__form">
        <div class="modal__form-group">
            <div class="modal__form-label">
                Фамилия
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Имя
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Должность
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Компания
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Сфера деятельности
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Город
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Телефон
            </div>
            <div class="modal__form-wrapper">
                <input type="tel" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Электронный адрес
            </div>
            <div class="modal__form-wrapper">
                <input type="email" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Тип оплаты
            </div>
            <div class="modal__form-wrapper">
                <select class="modal__form-select select-init">
                    <option value="">Картой</option>
                    <option value="">Наличными</option>
                </select>
            </div>
        </div>
        <div class="modal__form-agree">
            <input type="checkbox" id="agree">
            <label for="agree">
                Я согласен с условиями <a href="#">пользовательского соглашения</a>
            </label>
            <button class="modal__form-submit" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>  

<div class="modal modal-partner">
    <button class="popup-close">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00003 6.94259L11.0574 12L12 11.0574L6.94259 6.00003L11.9995 0.943083L11.057 0.000522574L6.00003 5.05747L0.942561 0L0 0.942561L5.05747 6.00003L0.000603372 11.0569L0.943164 11.9995L6.00003 6.94259Z" fill="#969696"/>
        </svg>            
    </button>
    <h3 class="modal-reg__title">
        Партнерство
    </h3>
    <div class="modal-reg__subtitle">
        Все поля обязательны для заполнения
    </div>
    <form action="" class="modal__form">
        <div class="modal__form-group">
            <div class="modal__form-label">
                Фамилия
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Имя
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Компания
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Сфера деятельности
            </div>
            <div class="modal__form-wrapper">
                <input type="text" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Телефон
            </div>
            <div class="modal__form-wrapper">
                <input type="tel" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-group">
            <div class="modal__form-label">
                Электронный адрес
            </div>
            <div class="modal__form-wrapper">
                <input type="email" class="modal__form-control">
            </div>
        </div>
        <div class="modal__form-agree">
            <input type="checkbox" id="agree1">
            <label for="agree1">
                Я согласен с условиями <a href="#">пользовательского соглашения</a>
            </label>
            <button class="modal__form-submit" type="submit">Стать партнером</button>
        </div>
    </form>
</div>

<div class="modal modal-thank">
    <h3 class="modal-thank__title">
        Спасибо за регистрацию!
    </h3>
    <p class="modal-thank__txt">
        В ближайшее время <br>
        наши менеджеры с Вами свяжутся
    </p>
    <button class="modal-thank__close close-btn">
        Отлично!
    </button>
</div>
<div class="modal modal-person">
    <button class="popup-close">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00003 6.94259L11.0574 12L12 11.0574L6.94259 6.00003L11.9995 0.943083L11.057 0.000522574L6.00003 5.05747L0.942561 0L0 0.942561L5.05747 6.00003L0.000603372 11.0569L0.943164 11.9995L6.00003 6.94259Z" fill="#969696"/>
        </svg>            
    </button>
    <div class="modal-person__row">
        <div class="modal-person__image">
            <img src="<%=require('@img/modal-person.jpg') %>" alt="">
        </div>
        <div class="modal-person__content">
            <h3 class="modal-person__name">
                Боб Ван дер Занде
            </h3>
            <p class="modal-person__txt">
                Директор подразделения «Градостроительство, сопровождение проектов и инфраструктура»
            </p>
            <img src="<%=require('@img/modal-person-company.png') %>" alt="" class="modal-person__company">
            <div class="modal-person__block">
                <h4 class="modal-person__block-title">
                    Сессия:
                </h4>
                <p class="modal-person__block-txt">
                    «КРТ: невозможность существования жилья 
                    без коммерции и коммерции без жилья», <span>эксперт</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-article">
    <button class="popup-close popup-close_article">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_543_901)">
            <circle cx="24" cy="24" r="14" fill="white"/>
            </g>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 24.9426L29.0574 30L30 29.0574L24.9426 24L29.9995 18.9431L29.057 18.0005L24 23.0575L18.9426 18L18 18.9426L23.0575 24L18.0006 29.0569L18.9432 29.9995L24 24.9426Z" fill="black"/>
            <defs>
            <filter id="filter0_d_543_901" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset/>
            <feGaussianBlur stdDeviation="5"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_543_901"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_543_901" result="shape"/>
            </filter>
            </defs>
        </svg>                  
    </button>
    <img src="<%=require('@img/article-1.jpg') %>" alt="">
    <div class="modal-article__date">
        21 января 2022
    </div>
    <h2>
        Изменение коммерческой недвижимости
    </h2>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России. В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <h3>
        Представители власти
    </h3>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России.
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
        Представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России.
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <img src="<%=require('@img/article-2.jpg') %>" alt="">
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России.
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <h3>
        Представители банковских структур
    </h3>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России.
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
        Представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <img src="<%=require('@img/article-3.jpg') %>" alt="">
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России.
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
    <p>
        В форуме принимают участие представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
        Представители власти и банковских структур, руководители девелоперских и строительных компаний, собственники жилой недвижимости со всей России, а также стран СНГ.
    </p>
</div>

<div class="backdrop"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
</body>

</html>